# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Databricks
.databricks/

# Airflow logs
airflow/logs/